.spotify-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
  .nav-arrow  {
    cursor: pointer;
    user-select: none; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem; 
    color: #CD5C5C; 
  }
  .left-arrow {
    left: 10px; 
  }
  
  .right-arrow {
    right: 10px; 
  }
  